.plants {
  height: 480px;
  display: grid;
  margin: 0 56px;
  position: relative;
  border-radius: 24px;
  grid-template-rows: 100%;
  background-color: #c1dcdc;
  grid-template-columns: 1fr 1fr;
}
.buy-plants {
  margin: 48px;
  z-index: 100;
}
.buy-plants > div:first-child > p {
  margin: 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
}
.buy-plants > div:nth-child(2) {
  gap: 30px;
  display: flex;
  margin-top: 30px;
  justify-content: left;
}
.buy-plants > div:nth-child(2) > span {
  width: 1px;
  height: auto;
  background-color: #1e1e1e;
}
.buy-plants > div:nth-child(2) > p {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.buy-plants > div:nth-child(2) > p > span {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.buy-plants > div:nth-child(3) {
  height: 64px;
  width: 449px;
  display: flex;
  padding: 0 12px;
  margin-top: 48px;
  border-radius: 12px;
  align-items: center;
  background-color: #ffffff;
}
.buy-plants > div:nth-child(3) > input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding-right: 12px;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.buy-plants > div:nth-child(3) > div {
  width: 48px;
  height: 48px;
  float: right;
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: #c1dcdc;
}
.free-hand-img1 {
  right: 490px;
  bottom: 100px;
  position: absolute;
}
.plant-img {
  bottom: 0;
  right: 70px;
  height: 100%;
  position: absolute;
}
.rectangle-img {
  bottom: 0;
  right: 110px;
  width: 370px;
  height: 330px;
  position: absolute;
}
.free-hand-img2 {
  top: 20px;
  right: 25px;
  height: 210px;
  width: 100.54px;
  position: absolute;
  transform: rotate(11deg);
}
.best-selling-plants {
  gap: 48px;
  display: grid;
  margin: 50px 56px;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.best-selling-plants > div {
  font-family: "Poppins", sans-serif;
}
.best-selling-plants > div:nth-child(1) > p:nth-child(1) {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
.best-selling-plants > div:nth-child(1) > p:nth-child(2) {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
  color: #1e1e1e80;
}
.best-selling-plants > div:nth-child(1) > button {
  height: 51px;
  width: 168px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 24px;
  font-weight: 500;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #c1dcdc;
}
.best-selling-plants > div > img {
  width: 100%;
}
.plant-cat {
  margin: 0;
  font-size: 18px;
  margin-top: 12px;
  font-weight: 500;
}
.price {
  margin: 0;
  font-size: 18px;
  margin-top: 9px;
  display: flex;
  align-items: center;
}
.price > svg {
  width: 17px;
  height: 17px;
}
.about-us {
  text-align: center;
  margin: 0 56px;
  font-family: "Poppins", sans-serif;
}
.about-us p {
  margin: 0;
}
.about-us > p:first-child {
  font-size: 32px;
  font-weight: 700;
}
.about-us > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
  margin-top: 10px;
}
.categories {
  gap: 50px;
  display: grid;
  margin-top: 40px;
  margin-bottom: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.categories > div > div {
  width: 96px;
  height: 96px;
  margin: auto;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #c1dcdc;
}
.categories > div > div > img {
  height: max-content;
}
.categories > div > p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.categories > div > p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #1e1e1e80;
}
.cats {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
.cats > p:first-child {
  font-size: 32px;
  font-weight: 700;
}
.cats > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
  margin-top: 10px;
}
.cats p {
  margin: 0;
}
.cat-box {
  gap: 30px;
  display: grid;
  padding: 0 56px;
  margin-top: 70px;
  background-color: #c1dcdc;
  grid-template-columns: repeat(3, 1fr);
}
.cat-box > div {
  width: 100%;
  margin-bottom: 50px;
}
.cat-box img {
  width: 100%;
}
.cat-box > div:nth-child(1),
.cat-box > div:nth-child(3) {
  margin-top: -40px;
}
.cat-box > div:nth-child(2) {
  margin-top: 40px;
}
.cat-box > div > p:nth-child(2) {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
}
.cat-box > div > p:nth-child(3) {
  padding: 0 5px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
}
.cat-box > div > button:nth-child(4) {
  gap: 8px;
  width: 147px;
  height: 51px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
